USE [A8CRM07062018]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0abb333b-b408-4f59-98cf-6d67723ded4a', N'Cliente')
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'28faa0a0-ad33-445f-a948-aac001569cd3', N'geoprado4479@gmail.com', 0, N'AEAMLjm2c7u5vD/+E+FKaNBjXWffuWoPBordHHXAm32x3m6oDFYM4/OytajtpZidng==', N'986b69dd-ca98-457c-bd87-d1c9ff583ed2', NULL, 0, 0, NULL, 1, 0, N'geoprado4479@gmail.com')


/****** Object:  Table [dbo].[ESTADO_CIVIL]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CIVIL](
	[CIV_ID] [int] IDENTITY(1,1) NOT NULL,
	[CIV_TIPO] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ESTADO_CIVIL] PRIMARY KEY CLUSTERED 
(
	[CIV_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTADO_CIVIL] ON
INSERT [dbo].[ESTADO_CIVIL] ([CIV_ID], [CIV_TIPO]) VALUES (1, N'SOLTERA')
INSERT [dbo].[ESTADO_CIVIL] ([CIV_ID], [CIV_TIPO]) VALUES (2, N'SOLTERO')
INSERT [dbo].[ESTADO_CIVIL] ([CIV_ID], [CIV_TIPO]) VALUES (3, N'CASADA')
SET IDENTITY_INSERT [dbo].[ESTADO_CIVIL] OFF
/****** Object:  Table [dbo].[PARENTESCOes]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARENTESCOes](
	[PAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAR_TIPO] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.PARENTESCOes] PRIMARY KEY CLUSTERED 
(
	[PAR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PARENTESCOes] ON
INSERT [dbo].[PARENTESCOes] ([PAR_ID], [PAR_TIPO]) VALUES (1, N'ABUELO')
INSERT [dbo].[PARENTESCOes] ([PAR_ID], [PAR_TIPO]) VALUES (2, N'HERMANO')
INSERT [dbo].[PARENTESCOes] ([PAR_ID], [PAR_TIPO]) VALUES (3, N'ABUELA')
SET IDENTITY_INSERT [dbo].[PARENTESCOes] OFF
/****** Object:  Table [dbo].[OBJETO_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJETO_PROYECTO](
	[ID_OBJETOPROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_OBJETOPROYECTO] [text] NULL,
 CONSTRAINT [PK_OBJETO_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[ID_OBJETOPROYECTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OBJETO_PROYECTO] ON
INSERT [dbo].[OBJETO_PROYECTO] ([ID_OBJETOPROYECTO], [NOMBRE_OBJETOPROYECTO]) VALUES (1, N'Tipo Muebles')
INSERT [dbo].[OBJETO_PROYECTO] ([ID_OBJETOPROYECTO], [NOMBRE_OBJETOPROYECTO]) VALUES (2, N'Tipo Inmuebles ')
INSERT [dbo].[OBJETO_PROYECTO] ([ID_OBJETOPROYECTO], [NOMBRE_OBJETOPROYECTO]) VALUES (3, N'Tipo Muebles e Inmuebles')
SET IDENTITY_INSERT [dbo].[OBJETO_PROYECTO] OFF
/****** Object:  Table [dbo].[TIPOS_PAGOS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_PAGOS](
	[TIPPAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPPAG_NOMBRE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TIPOS_PAGOS] PRIMARY KEY CLUSTERED 
(
	[TIPPAG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TIPOS_PAGOS] ON
INSERT [dbo].[TIPOS_PAGOS] ([TIPPAG_ID], [TIPPAG_NOMBRE]) VALUES (1, N'EFECTIVO')
INSERT [dbo].[TIPOS_PAGOS] ([TIPPAG_ID], [TIPPAG_NOMBRE]) VALUES (2, N'TRANSFERENCIA')
INSERT [dbo].[TIPOS_PAGOS] ([TIPPAG_ID], [TIPPAG_NOMBRE]) VALUES (3, N'CHEQUE')
SET IDENTITY_INSERT [dbo].[TIPOS_PAGOS] OFF
/****** Object:  Table [dbo].[TIPOS_COBROS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_COBROS](
	[COB_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM_COBRO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TIPOS_COBROS] PRIMARY KEY CLUSTERED 
(
	[COB_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TIPOS_COBROS] ON
INSERT [dbo].[TIPOS_COBROS] ([COB_ID], [NOM_COBRO]) VALUES (1, N'Anticipo')
INSERT [dbo].[TIPOS_COBROS] ([COB_ID], [NOM_COBRO]) VALUES (2, N'Abono')
INSERT [dbo].[TIPOS_COBROS] ([COB_ID], [NOM_COBRO]) VALUES (3, N'Pago Final')
SET IDENTITY_INSERT [dbo].[TIPOS_COBROS] OFF
/****** Object:  Table [dbo].[TIPO_STATUS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_STATUS](
	[TIPSTA_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPSTA_NOMBRE] [varchar](50) NULL,
	[TIPSTA_COLOR] [nvarchar](max) NULL,
	[TIPSTA_LETRA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPSTA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_STATUS] ON
INSERT [dbo].[TIPO_STATUS] ([TIPSTA_ID], [TIPSTA_NOMBRE], [TIPSTA_COLOR], [TIPSTA_LETRA]) VALUES (1, N'ASIGNADO', NULL, NULL)
INSERT [dbo].[TIPO_STATUS] ([TIPSTA_ID], [TIPSTA_NOMBRE], [TIPSTA_COLOR], [TIPSTA_LETRA]) VALUES (2, N'POSESIONADO', NULL, NULL)
INSERT [dbo].[TIPO_STATUS] ([TIPSTA_ID], [TIPSTA_NOMBRE], [TIPSTA_COLOR], [TIPSTA_LETRA]) VALUES (3, N'INSPECCIONADO', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TIPO_STATUS] OFF
/****** Object:  Table [dbo].[TIPO_SERVICIO]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SERVICIO](
	[ID_TIPOSERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPOSERVICIO] [text] NULL,
 CONSTRAINT [PK_TIPO_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPOSERVICIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TIPO_SERVICIO] ON
INSERT [dbo].[TIPO_SERVICIO] ([ID_TIPOSERVICIO], [NOMBRE_TIPOSERVICIO]) VALUES (1, N'Presentación de Servicios ')
INSERT [dbo].[TIPO_SERVICIO] ([ID_TIPOSERVICIO], [NOMBRE_TIPOSERVICIO]) VALUES (2, N'Valoración y control de activos con aplicación a las NIIF (SIC)')
INSERT [dbo].[TIPO_SERVICIO] ([ID_TIPOSERVICIO], [NOMBRE_TIPOSERVICIO]) VALUES (3, N'Valoración de Empresa  ')
SET IDENTITY_INSERT [dbo].[TIPO_SERVICIO] OFF
/****** Object:  Table [dbo].[TIPO_SANGRE]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SANGRE](
	[SAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[SAN_TIPO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TIPO_SANGRE] PRIMARY KEY CLUSTERED 
(
	[SAN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TIPO_SANGRE] ON
INSERT [dbo].[TIPO_SANGRE] ([SAN_ID], [SAN_TIPO]) VALUES (1, N'TIPO A -')
INSERT [dbo].[TIPO_SANGRE] ([SAN_ID], [SAN_TIPO]) VALUES (2, N'TIPO A +')
INSERT [dbo].[TIPO_SANGRE] ([SAN_ID], [SAN_TIPO]) VALUES (3, N'TIPO B -')
SET IDENTITY_INSERT [dbo].[TIPO_SANGRE] OFF
/****** Object:  Table [dbo].[TIPO_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PROYECTO](
	[ID_TIPOPROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPOPROYECTO] [text] NULL,
 CONSTRAINT [PK_TIPO_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPOPROYECTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TIPO_PROYECTO] ON
INSERT [dbo].[TIPO_PROYECTO] ([ID_TIPOPROYECTO], [NOMBRE_TIPOPROYECTO]) VALUES (1, N'Proyecto')
INSERT [dbo].[TIPO_PROYECTO] ([ID_TIPOPROYECTO], [NOMBRE_TIPOPROYECTO]) VALUES (2, N'Avaluos Menores')
INSERT [dbo].[TIPO_PROYECTO] ([ID_TIPOPROYECTO], [NOMBRE_TIPOPROYECTO]) VALUES (5, N'Peritaje')
SET IDENTITY_INSERT [dbo].[TIPO_PROYECTO] OFF
/****** Object:  Table [dbo].[TIPO_PERSONA]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PERSONA](
	[ID_TIPOPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPOPERSONA] [varchar](500) NULL,
 CONSTRAINT [PK_TIPO_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPOPERSONA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_PERSONA] ON
INSERT [dbo].[TIPO_PERSONA] ([ID_TIPOPERSONA], [NOMBRE_TIPOPERSONA]) VALUES (1, N'Corportivo')
INSERT [dbo].[TIPO_PERSONA] ([ID_TIPOPERSONA], [NOMBRE_TIPOPERSONA]) VALUES (2, N'Persona Natural')
SET IDENTITY_INSERT [dbo].[TIPO_PERSONA] OFF
/****** Object:  Table [dbo].[TIPO_LICENCIA_CONDUCIR]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_LICENCIA_CONDUCIR](
	[LIC_ID] [int] IDENTITY(1,1) NOT NULL,
	[LIC_TIPO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TIPO_LICENCIA_CONDUCIR] PRIMARY KEY CLUSTERED 
(
	[LIC_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TIPO_LICENCIA_CONDUCIR] ON
INSERT [dbo].[TIPO_LICENCIA_CONDUCIR] ([LIC_ID], [LIC_TIPO]) VALUES (1, N'TIPO A')
INSERT [dbo].[TIPO_LICENCIA_CONDUCIR] ([LIC_ID], [LIC_TIPO]) VALUES (2, N'TIPO B')
INSERT [dbo].[TIPO_LICENCIA_CONDUCIR] ([LIC_ID], [LIC_TIPO]) VALUES (3, N'TIPO F')
SET IDENTITY_INSERT [dbo].[TIPO_LICENCIA_CONDUCIR] OFF
/****** Object:  Table [dbo].[TIPO_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_EMPRESA](
	[ID_TIPOEMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPOEMPRESA] [varchar](500) NULL,
 CONSTRAINT [PK_TIPO_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPOEMPRESA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_EMPRESA] ON
INSERT [dbo].[TIPO_EMPRESA] ([ID_TIPOEMPRESA], [NOMBRE_TIPOEMPRESA]) VALUES (1, N'Publica')
INSERT [dbo].[TIPO_EMPRESA] ([ID_TIPOEMPRESA], [NOMBRE_TIPOEMPRESA]) VALUES (2, N'Privada')
SET IDENTITY_INSERT [dbo].[TIPO_EMPRESA] OFF
/****** Object:  Table [dbo].[TIPO_CLIENTE]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_CLIENTE](
	[ID_TIPOCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPOCLIENTE] [varchar](500) NULL,
 CONSTRAINT [PK_TIPO_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPOCLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_CLIENTE] ON
INSERT [dbo].[TIPO_CLIENTE] ([ID_TIPOCLIENTE], [NOMBRE_TIPOCLIENTE]) VALUES (1, N'Potencial')
INSERT [dbo].[TIPO_CLIENTE] ([ID_TIPOCLIENTE], [NOMBRE_TIPOCLIENTE]) VALUES (2, N'Actual')
SET IDENTITY_INSERT [dbo].[TIPO_CLIENTE] OFF
/****** Object:  Table [dbo].[tipo_avaluo]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_avaluo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
 CONSTRAINT [PK_tipo_avaluo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_avaluo] ON
INSERT [dbo].[tipo_avaluo] ([id], [nombre]) VALUES (1, N'AUDITORIA CONTABLE')
INSERT [dbo].[tipo_avaluo] ([id], [nombre]) VALUES (2, N'JUICIO DE INVENTARIO')
INSERT [dbo].[tipo_avaluo] ([id], [nombre]) VALUES (3, N'Inscripción del embargo')
SET IDENTITY_INSERT [dbo].[tipo_avaluo] OFF
/****** Object:  Table [dbo].[tipo_asignacion]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_asignacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NULL,
 CONSTRAINT [PK_tipo_asignacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tipo_asignacion] ON
INSERT [dbo].[tipo_asignacion] ([id], [nombre]) VALUES (1, N'INDIVIDUAL')
INSERT [dbo].[tipo_asignacion] ([id], [nombre]) VALUES (2, N'AVALUAC   ')
SET IDENTITY_INSERT [dbo].[tipo_asignacion] OFF
/****** Object:  Table [dbo].[SUCURSALs]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSALs](
	[SUC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_NOMBRE] [nvarchar](max) NOT NULL,
	[SUC_TELEFONO] [nvarchar](max) NOT NULL,
	[SUC_DIRECCION] [nvarchar](max) NOT NULL,
	[SUC_OBSERVACIONES] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.SUCURSALs] PRIMARY KEY CLUSTERED 
(
	[SUC_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SUCURSALs] ON
INSERT [dbo].[SUCURSALs] ([SUC_ID], [SUC_NOMBRE], [SUC_TELEFONO], [SUC_DIRECCION], [SUC_OBSERVACIONES]) VALUES (1, N'IBARRA', N'022456110', N'AV. AMAZONAS Y ORELLANA 456', N'LLAMADA URGENTE')
INSERT [dbo].[SUCURSALs] ([SUC_ID], [SUC_NOMBRE], [SUC_TELEFONO], [SUC_DIRECCION], [SUC_OBSERVACIONES]) VALUES (2, N'LOJA', N'22456789', N'AV ULPIANO PAEZ Y ORELLANA', N'SI REGISTRA FACTOR')
INSERT [dbo].[SUCURSALs] ([SUC_ID], [SUC_NOMBRE], [SUC_TELEFONO], [SUC_DIRECCION], [SUC_OBSERVACIONES]) VALUES (3, N'MANABI', N'22963578', N'AV AMAZONAS', N'NO REGISTRA FACTOR POR EL MOMENTO')
SET IDENTITY_INSERT [dbo].[SUCURSALs] OFF
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](500) NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SUCURSAL] ON
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [NOMBRE_SUCURSAL]) VALUES (1, N'QUITO')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [NOMBRE_SUCURSAL]) VALUES (2, N'GUAYAQUIL')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [NOMBRE_SUCURSAL]) VALUES (3, N'CUENCA')
SET IDENTITY_INSERT [dbo].[SUCURSAL] OFF
/****** Object:  Table [dbo].[ServPop]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServPop](
	[id_ServPop] [int] IDENTITY(1,1) NOT NULL,
	[ServPop_Nombre] [nvarchar](500) NOT NULL,
	[ServPop_Puerto] [int] NOT NULL,
	[ServPop_SSL] [bit] NOT NULL,
 CONSTRAINT [PK_ServPop] PRIMARY KEY CLUSTERED 
(
	[id_ServPop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ServPop] ON
INSERT [dbo].[ServPop] ([id_ServPop], [ServPop_Nombre], [ServPop_Puerto], [ServPop_SSL]) VALUES (1, N'pop.gmail.com', 995, 1)
SET IDENTITY_INSERT [dbo].[ServPop] OFF
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_EMPRESA] [nvarchar](max) NOT NULL,
	[RUC_EMPRESA] [nvarchar](max) NOT NULL,
	[DIRECCION_EMPRESA1] [nvarchar](max) NOT NULL,
	[DIRECCION_EMPRESA2] [varchar](500) NULL,
	[TELEFONO_EMPRESA] [nvarchar](max) NOT NULL,
	[TELEFONO_EMPRESA1] [varchar](500) NULL,
	[TIPO_PERSONA] [int] NULL,
	[TIPO_CLIENTE] [int] NULL,
	[ACTIVIDAD_COMERCIAL] [nvarchar](max) NOT NULL,
	[TIPO_EMPRESA] [int] NULL,
	[sender_usuario] [varchar](500) NULL,
	[sender_fechaIngreso] [datetime] NULL,
	[sender_usuario_modificacion] [varchar](500) NULL,
	[sender_fecha_modificacion] [datetime] NULL,
	[sender_usuario_eliminacion] [varchar](500) NULL,
	[sender_fecha_eliminacion] [datetime] NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_EMPRESA_1] UNIQUE NONCLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EMPRESA] ON
SET IDENTITY_INSERT [dbo].[EMPRESA] OFF
/****** Object:  Table [dbo].[EMAIL_NOTIFICACIONES]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_NOTIFICACIONES](
	[EMA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMA_ASUNTO] [nvarchar](max) NULL,
	[EMA_FECHA] [datetime] NOT NULL,
	[EMA_CONTENIDO] [nvarchar](max) NULL,
	[EMA_CHECKED] [bit] NOT NULL,
	[EMA_TIPO] [nvarchar](max) NULL,
	[EMA_IDPOST] [int] NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.EMAIL_NOTIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[EMA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMAIL_NOTIFICACIONES] ON
INSERT [dbo].[EMAIL_NOTIFICACIONES] ([EMA_ID], [EMA_ASUNTO], [EMA_FECHA], [EMA_CONTENIDO], [EMA_CHECKED], [EMA_TIPO], [EMA_IDPOST], [UserId]) VALUES (5, N'QUE SUCEDIO', CAST(0x0000AB2000000000 AS DateTime), N'QUE ACONTECIO EN LA REUNION', 1, NULL, NULL, N'310f40aa-83d8-4213-b03d-0939ba8a5971')
INSERT [dbo].[EMAIL_NOTIFICACIONES] ([EMA_ID], [EMA_ASUNTO], [EMA_FECHA], [EMA_CONTENIDO], [EMA_CHECKED], [EMA_TIPO], [EMA_IDPOST], [UserId]) VALUES (7, N'informacion de valoracion', CAST(0x0000AB2600000000 AS DateTime), N'enviar douumentos ed informacion', 1, NULL, NULL, N'310f40aa-83d8-4213-b03d-0939ba8a5971')
INSERT [dbo].[EMAIL_NOTIFICACIONES] ([EMA_ID], [EMA_ASUNTO], [EMA_FECHA], [EMA_CONTENIDO], [EMA_CHECKED], [EMA_TIPO], [EMA_IDPOST], [UserId]) VALUES (8, N'CONTRATO', CAST(0x0000AB2600000000 AS DateTime), N'INFORMACION SOBRE RESOLUCION', 1, NULL, NULL, N'310f40aa-83d8-4213-b03d-0939ba8a5971')
SET IDENTITY_INSERT [dbo].[EMAIL_NOTIFICACIONES] OFF
/****** Object:  Table [dbo].[AREAS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS](
	[AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_DEPARTAMENTO] [nvarchar](max) NULL,
	[AREA_SUCURSAL] [nvarchar](max) NULL,
	[SUC_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AREAS] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AREAS] ON
INSERT [dbo].[AREAS] ([AREA_ID], [AREA_DEPARTAMENTO], [AREA_SUCURSAL], [SUC_ID]) VALUES (2, N'COMERCIAL', NULL, 2)
INSERT [dbo].[AREAS] ([AREA_ID], [AREA_DEPARTAMENTO], [AREA_SUCURSAL], [SUC_ID]) VALUES (3, N'TECNICO', NULL, 3)
INSERT [dbo].[AREAS] ([AREA_ID], [AREA_DEPARTAMENTO], [AREA_SUCURSAL], [SUC_ID]) VALUES (4, N'VENTAS', NULL, 1)
SET IDENTITY_INSERT [dbo].[AREAS] OFF
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7c19b458-e64a-46b7-810f-6f3af83654cb', N'0abb333b-b408-4f59-98cf-6d67723ded4a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd1844323-d7db-44f8-8735-a598d770e923', N'0abb333b-b408-4f59-98cf-6d67723ded4a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e9bb7dfa-97e4-407d-b4ac-857d007c036c', N'0abb333b-b408-4f59-98cf-6d67723ded4a')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASESORES]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASESORES](
	[ASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ASE_NOMBRE] [nvarchar](max) NOT NULL,
	[ASE_TELEFONO] [nvarchar](max) NOT NULL,
	[ASE_EXT] [nvarchar](max) NULL,
	[ASE_AREA] [nvarchar](max) NULL,
	[AREA_ID] [int] NOT NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ASESORES] PRIMARY KEY CLUSTERED 
(
	[ASE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASESORES] ON
INSERT [dbo].[ASESORES] ([ASE_ID], [ASE_NOMBRE], [ASE_TELEFONO], [ASE_EXT], [ASE_AREA], [AREA_ID], [UserId]) VALUES (3, N'Mario Aguilar', N'023654578', N'105', NULL, 2, N'310f40aa-83d8-4213-b03d-0939ba8a5971')
INSERT [dbo].[ASESORES] ([ASE_ID], [ASE_NOMBRE], [ASE_TELEFONO], [ASE_EXT], [ASE_AREA], [AREA_ID], [UserId]) VALUES (5, N'Mario Nuñez', N'22458112', N'112', NULL, 2, N'ee837f0c-09e5-4e04-9474-e72968c61a85')
INSERT [dbo].[ASESORES] ([ASE_ID], [ASE_NOMBRE], [ASE_TELEFONO], [ASE_EXT], [ASE_AREA], [AREA_ID], [UserId]) VALUES (7, N'Luis Grijalva', N'22654782', N'121', NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[ASESORES] OFF
/****** Object:  Table [dbo].[CONTACTOS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTOS](
	[CON_ID] [int] IDENTITY(1,1) NOT NULL,
	[CON_NOMBRE] [nvarchar](max) NOT NULL,
	[CON_CEDULA] [int] NULL,
	[CON_CARGO] [nvarchar](max) NOT NULL,
	[CON_TLFLOCAL] [nvarchar](max) NOT NULL,
	[CON_EXT] [nvarchar](max) NULL,
	[CON_TLFCELULAR] [nvarchar](max) NOT NULL,
	[CON_CORREO] [nvarchar](max) NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CONTACTOS] PRIMARY KEY CLUSTERED 
(
	[CON_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONTACTOS] ON
INSERT [dbo].[CONTACTOS] ([CON_ID], [CON_NOMBRE], [CON_CEDULA], [CON_CARGO], [CON_TLFLOCAL], [CON_EXT], [CON_TLFCELULAR], [CON_CORREO], [ID_EMPRESA]) VALUES (5, N'DANILO PAEZ M', NULL, N'CARGO 3', N'022456784', N'117', N'092578965', N'danilo_paez@hotmail.com', 12)
INSERT [dbo].[CONTACTOS] ([CON_ID], [CON_NOMBRE], [CON_CEDULA], [CON_CARGO], [CON_TLFLOCAL], [CON_EXT], [CON_TLFCELULAR], [CON_CORREO], [ID_EMPRESA]) VALUES (6, N'MARIA SALGADO', NULL, N'CARGO 6', N'22333654', N'125', N'992765986', N'salgado36@gmail.com', 14)
INSERT [dbo].[CONTACTOS] ([CON_ID], [CON_NOMBRE], [CON_CEDULA], [CON_CARGO], [CON_TLFLOCAL], [CON_EXT], [CON_TLFCELULAR], [CON_CORREO], [ID_EMPRESA]) VALUES (7, N'ELENA GUZMAN', NULL, N'CARGO 5', N'22456874', N'110', N'995687452', N'guzman@gmail.com', 12)
SET IDENTITY_INSERT [dbo].[CONTACTOS] OFF
/****** Object:  Table [dbo].[CARGOes]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGOes](
	[ID_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CARGO] [nvarchar](max) NOT NULL,
	[AREA_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CARGOes] PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARGOes] ON
INSERT [dbo].[CARGOes] ([ID_CARGO], [NOM_CARGO], [AREA_ID]) VALUES (1, N'GERENTE GENERAL', 4)
INSERT [dbo].[CARGOes] ([ID_CARGO], [NOM_CARGO], [AREA_ID]) VALUES (2, N'COORDINADORA NACIONAL DE NEGOCIOS', 2)
INSERT [dbo].[CARGOes] ([ID_CARGO], [NOM_CARGO], [AREA_ID]) VALUES (3, N'COORDINADOR DE PROYECTOS', 5)
SET IDENTITY_INSERT [dbo].[CARGOes] OFF
/****** Object:  Table [dbo].[NOMINAs]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOMINAs](
	[NOMI_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMI_NOMRE] [nvarchar](max) NOT NULL,
	[NOMI_EDAD] [int] NOT NULL,
	[NOMI_DIRECCION] [nvarchar](max) NOT NULL,
	[NOMI_CORREO] [nvarchar](max) NOT NULL,
	[NOMI_FECHAINGRESO] [datetime] NOT NULL,
	[NOMI_TLFLOCAL] [nvarchar](max) NULL,
	[NOMI_EXT] [nvarchar](max) NULL,
	[NOMI_TLFCELULAR] [nvarchar](max) NULL,
	[NOMI_TLFCASA] [nvarchar](max) NULL,
	[ID_CARGO] [int] NULL,
	[SUC_ID] [int] NULL,
	[NOM_CHECKED] [bit] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[NOMI_FOTOGRAFIA] [nvarchar](max) NULL,
	[NOMI_HUELLA] [nvarchar](max) NULL,
	[NOMI_APELLIDO] [nvarchar](max) NOT NULL,
	[NOMI_CEDULA] [int] NOT NULL,
	[NOMI_FECHANACIMIENTO] [datetime] NOT NULL,
	[NOMI_NOM_CONYUGE] [nvarchar](max) NULL,
	[NOMI_APE_CONYUGE] [nvarchar](max) NULL,
	[NOMI_DIR_CONYUGE] [nvarchar](max) NULL,
	[NOMI_CED_CONYUGE] [int] NULL,
	[NOMI_TLF_CONYUGE] [nvarchar](max) NULL,
	[NOMI_CEL_CONYUGE] [nvarchar](max) NULL,
	[NOMI_EMPRESALABORA] [nvarchar](max) NULL,
	[NOMI_DIRECCIONEMPRESA] [nvarchar](max) NULL,
	[LIC_ID] [int] NOT NULL,
	[CIV_ID] [int] NOT NULL,
	[SAN_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NOMINAs] PRIMARY KEY CLUSTERED 
(
	[NOMI_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NOMINAs] ON
SET IDENTITY_INSERT [dbo].[NOMINAs] OFF
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[ID_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[PROY_NOMBRE] [nvarchar](max) NOT NULL,
	[PROY_DETALLE] [nvarchar](max) NOT NULL,
	[PROY_FECHACREACION] [datetime] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[SUC_ID] [int] NOT NULL,
	[CON_ID] [int] NULL,
	[ID_TIPOPROYECTO] [int] NOT NULL,
	[ID_TIPOSERVICIO] [int] NOT NULL,
	[PROY_PORCENTAJE] [int] NOT NULL,
	[ASE_ID] [int] NULL,
	[PROY_MONTO] [decimal](18, 2) NOT NULL,
	[PROY_FORMAPAGO] [nvarchar](max) NULL,
	[PROY_FECHAGREGACION] [datetime] NULL,
	[ID_OBJETOPROYECTO] [int] NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[ID_PROYECTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PROYECTO] ON
INSERT [dbo].[PROYECTO] ([ID_PROYECTO], [PROY_NOMBRE], [PROY_DETALLE], [PROY_FECHACREACION], [ID_EMPRESA], [SUC_ID], [CON_ID], [ID_TIPOPROYECTO], [ID_TIPOSERVICIO], [PROY_PORCENTAJE], [ASE_ID], [PROY_MONTO], [PROY_FORMAPAGO], [PROY_FECHAGREGACION], [ID_OBJETOPROYECTO]) VALUES (9, N'PROYECTO A', N'VENTA DE PRODUCTOS v02 a01', CAST(0x0000A98A00000000 AS DateTime), 12, 2, 6, 1, 1, 0, 3, CAST(15000.00 AS Decimal(18, 2)), N'50% INICIAL, 50% AL FINALIZAR EL TRABAJO', CAST(0x0000000000000000 AS DateTime), 1)
INSERT [dbo].[PROYECTO] ([ID_PROYECTO], [PROY_NOMBRE], [PROY_DETALLE], [PROY_FECHACREACION], [ID_EMPRESA], [SUC_ID], [CON_ID], [ID_TIPOPROYECTO], [ID_TIPOSERVICIO], [PROY_PORCENTAJE], [ASE_ID], [PROY_MONTO], [PROY_FORMAPAGO], [PROY_FECHAGREGACION], [ID_OBJETOPROYECTO]) VALUES (10, N'PROYECTO B', N'INSPECCIÓN GENERAL DE BIENES', CAST(0x0000A96200000000 AS DateTime), 14, 1, 7, 2, 7, 30, NULL, CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0x0000000000000000 AS DateTime), 1)
INSERT [dbo].[PROYECTO] ([ID_PROYECTO], [PROY_NOMBRE], [PROY_DETALLE], [PROY_FECHACREACION], [ID_EMPRESA], [SUC_ID], [CON_ID], [ID_TIPOPROYECTO], [ID_TIPOSERVICIO], [PROY_PORCENTAJE], [ASE_ID], [PROY_MONTO], [PROY_FORMAPAGO], [PROY_FECHAGREGACION], [ID_OBJETOPROYECTO]) VALUES (11, N'PROYECTO C', N'CONTROL DE ACTIVOS ', CAST(0x0000AB5000000000 AS DateTime), 12, 3, 11, 1, 2, 10, 13, CAST(148000.00 AS Decimal(18, 2)), N'TRANSFERENCIA BANCARIA', CAST(0x0000A98500000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PROYECTO] OFF
/****** Object:  Table [dbo].[VISITAS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITAS](
	[VIS_ID] [int] IDENTITY(1,1) NOT NULL,
	[VIS_LUGAR] [nvarchar](max) NULL,
	[VIS_OBSERVACION1] [nvarchar](max) NULL,
	[VIS_OBSERVACIONPOST] [nvarchar](max) NULL,
	[VIS_TIPO] [nvarchar](max) NULL,
	[VIS_IDPOST] [int] NULL,
	[VIS_HORA] [time](7) NOT NULL,
	[VIS_FECHA] [datetime] NOT NULL,
	[VIS_FECHA2] [datetime] NULL,
	[VIS_CHECKED] [bit] NOT NULL,
	[ASE_ID] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[TIPSTA_ID] [int] NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.VISITAS] PRIMARY KEY CLUSTERED 
(
	[VIS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFERENCIA_FAMILIAR]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERENCIA_FAMILIAR](
	[REF_ID] [int] IDENTITY(1,1) NOT NULL,
	[REF_NOMBRES] [nvarchar](max) NOT NULL,
	[REF_APELLIDOS] [nvarchar](max) NOT NULL,
	[REF_TLFLOCAL] [nvarchar](max) NULL,
	[REF_TLFCELULAR] [nvarchar](max) NULL,
	[PAR_ID] [int] NOT NULL,
	[NOMI_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.REFERENCIA_FAMILIAR] PRIMARY KEY CLUSTERED 
(
	[REF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[REFERENCIA_FAMILIAR] ON
INSERT [dbo].[REFERENCIA_FAMILIAR] ([REF_ID], [REF_NOMBRES], [REF_APELLIDOS], [REF_TLFLOCAL], [REF_TLFCELULAR], [PAR_ID], [NOMI_ID]) VALUES (1, N'EMA  LUCIA ', N'BENITEZ PERSY', N'022451521', N'0996258655', 26, 11)
INSERT [dbo].[REFERENCIA_FAMILIAR] ([REF_ID], [REF_NOMBRES], [REF_APELLIDOS], [REF_TLFLOCAL], [REF_TLFCELULAR], [PAR_ID], [NOMI_ID]) VALUES (3, N'MAURICIO FERNANDO', N'GUTIERREZ MURCIE', N'022451213', N'0986532451', 21, 11)
INSERT [dbo].[REFERENCIA_FAMILIAR] ([REF_ID], [REF_NOMBRES], [REF_APELLIDOS], [REF_TLFLOCAL], [REF_TLFCELULAR], [PAR_ID], [NOMI_ID]) VALUES (4, N'MAGDA ESTEFANIA', N'VALENCIA RODRIGUEZ', N'022412142', N'0339657852', 17, 11)
SET IDENTITY_INSERT [dbo].[REFERENCIA_FAMILIAR] OFF
/****** Object:  Table [dbo].[REUNIONES]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REUNIONES](
	[REU_ID] [int] IDENTITY(1,1) NOT NULL,
	[REU_LUGAR] [nvarchar](max) NOT NULL,
	[REU_FECHA] [datetime] NOT NULL,
	[REU_HORA] [time](7) NOT NULL,
	[REU_OBSERVACIONES] [nvarchar](max) NOT NULL,
	[REU_FECHACIERRE] [datetime] NULL,
	[REU_OBSERVACIONESCIERRE] [nvarchar](max) NULL,
	[REU_CHECKED] [bit] NOT NULL,
	[REU_TIPO] [nvarchar](max) NULL,
	[REU_IDPOST] [int] NULL,
	[ASE_ID] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
	[TIPSTA_ID] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[ID_PROYECTO] [int] NULL,
	[REU_PORCENTAJE] [int] NOT NULL,
 CONSTRAINT [PK_dbo.REUNIONES] PRIMARY KEY CLUSTERED 
(
	[REU_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[REUNIONES] ON
INSERT [dbo].[REUNIONES] ([REU_ID], [REU_LUGAR], [REU_FECHA], [REU_HORA], [REU_OBSERVACIONES], [REU_FECHACIERRE], [REU_OBSERVACIONESCIERRE], [REU_CHECKED], [REU_TIPO], [REU_IDPOST], [ASE_ID], [ID_EMPRESA], [CON_ID], [TIPSTA_ID], [UserId], [ID_PROYECTO], [REU_PORCENTAJE]) VALUES (28, N'Quito', CAST(0x0000A96700000000 AS DateTime), CAST(0x070050CFDF960000 AS Time), N'EN LA EMPRESA, CONOCE CUATRO PASOS ESENCIALES PARA EL ÉXITO.', NULL, NULL, 0, NULL, NULL, 5, 12, 7, 4, N'310f40aa-83d8-4213-b03d-0939ba8a5971', 9, 0)
SET IDENTITY_INSERT [dbo].[REUNIONES] OFF
/****** Object:  Table [dbo].[STATUS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[STA_ID] [int] IDENTITY(1,1) NOT NULL,
	[STA_FECHA] [datetime] NOT NULL,
	[STA_OBSERVACIONPOST] [nvarchar](max) NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[ID_PROYECTO] [int] NULL,
	[ASE_ID] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.STATUS] PRIMARY KEY CLUSTERED 
(
	[STA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STATUS] ON
INSERT [dbo].[STATUS] ([STA_ID], [STA_FECHA], [STA_OBSERVACIONPOST], [ID_EMPRESA], [ID_PROYECTO], [ASE_ID], [CON_ID]) VALUES (1, CAST(0x0000AAC600000000 AS DateTime), N'TRABAJO A COMPLETAR 024', 33, 24, 15, 63)
INSERT [dbo].[STATUS] ([STA_ID], [STA_FECHA], [STA_OBSERVACIONPOST], [ID_EMPRESA], [ID_PROYECTO], [ASE_ID], [CON_ID]) VALUES (2, CAST(0x0000AACB00000000 AS DateTime), N'A COMPLETAR 024', 33, 24, 7, 63)
INSERT [dbo].[STATUS] ([STA_ID], [STA_FECHA], [STA_OBSERVACIONPOST], [ID_EMPRESA], [ID_PROYECTO], [ASE_ID], [CON_ID]) VALUES (3, CAST(0x0000AACC00000000 AS DateTime), N'TRAB', 33, 24, 5, 63)
SET IDENTITY_INSERT [dbo].[STATUS] OFF
/****** Object:  Table [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO](
	[ESTU_ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTU_NOMRE] [nvarchar](max) NOT NULL,
	[ESTU_DURACION] [nvarchar](max) NULL,
	[ESTU_INSTITUCION] [nvarchar](max) NOT NULL,
	[NOMI_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ESTUDIOS_REALIZADOS_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ESTU_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO] ON
INSERT [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO] ([ESTU_ID], [ESTU_NOMRE], [ESTU_DURACION], [ESTU_INSTITUCION], [NOMI_ID]) VALUES (1, N'INGENIERÍA MECÁNICA', N'8 AÑOS', N'ESCUELA POLITÉCNICA NACIONAL', 11)
INSERT [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO] ([ESTU_ID], [ESTU_NOMRE], [ESTU_DURACION], [ESTU_INSTITUCION], [NOMI_ID]) VALUES (2, N'CURSO  DE CABLEADO ELECTRICO BASICO', N'', N'CISCO EPN', 11)
INSERT [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO] ([ESTU_ID], [ESTU_NOMRE], [ESTU_DURACION], [ESTU_INSTITUCION], [NOMI_ID]) VALUES (4, N'SEMINARIO DE ELECTRICIDAD ', N'6 MESES', N'ESCUELA POLITÉCNICA SALESIANA', 11)
SET IDENTITY_INSERT [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO] OFF
/****** Object:  Table [dbo].[CORREOS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORREOS](
	[COR_ID] [int] IDENTITY(1,1) NOT NULL,
	[COR_HORA] [time](7) NOT NULL,
	[COR_FECHA] [datetime] NOT NULL,
	[COR_SECUNDARIO] [nvarchar](max) NULL,
	[COR_OBSERVACIONES] [nvarchar](max) NOT NULL,
	[COR_FECHA2] [datetime] NULL,
	[COR_OBSERVACIONES2] [nvarchar](max) NULL,
	[COR_CHECKED] [bit] NOT NULL,
	[COR_TIPO] [nvarchar](max) NULL,
	[COR_IDPOST] [int] NULL,
	[ASE_ID] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
	[TIPSTA_ID] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[ID_PROYECTO] [int] NULL,
	[COR_PORCENTAJE] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CORREOS] PRIMARY KEY CLUSTERED 
(
	[COR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CORREOS] ON
INSERT [dbo].[CORREOS] ([COR_ID], [COR_HORA], [COR_FECHA], [COR_SECUNDARIO], [COR_OBSERVACIONES], [COR_FECHA2], [COR_OBSERVACIONES2], [COR_CHECKED], [COR_TIPO], [COR_IDPOST], [ASE_ID], [ID_EMPRESA], [CON_ID], [TIPSTA_ID], [UserId], [ID_PROYECTO], [COR_PORCENTAJE]) VALUES (11, CAST(0x0700E80A7E8E0000 AS Time), CAST(0x0000A96700000000 AS DateTime), N'aguilar@avaluac.com', N'CONOCE CUATRO PASOS ESENCIALES PARA EL ÉXITO.', NULL, NULL, 0, NULL, NULL, 13, 12, 7, 4, N'310f40aa-83d8-4213-b03d-0939ba8a5971', 9, 0)
INSERT [dbo].[CORREOS] ([COR_ID], [COR_HORA], [COR_FECHA], [COR_SECUNDARIO], [COR_OBSERVACIONES], [COR_FECHA2], [COR_OBSERVACIONES2], [COR_CHECKED], [COR_TIPO], [COR_IDPOST], [ASE_ID], [ID_EMPRESA], [CON_ID], [TIPSTA_ID], [UserId], [ID_PROYECTO], [COR_PORCENTAJE]) VALUES (12, CAST(0x070048F9F66C0000 AS Time), CAST(0x0000A96200000000 AS DateTime), N'aguilar32@avaluac.com', N'institución dedicada a actividades o persecución de fines económicos o comerciales para satisfacer las necesidades', NULL, NULL, 0, NULL, NULL, 3, 12, 11, 4, N'310f40aa-83d8-4213-b03d-0939ba8a5971', 9, 0)
SET IDENTITY_INSERT [dbo].[CORREOS] OFF
/****** Object:  Table [dbo].[CONTRATOS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATOS](
	[CONT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONT_HORA] [time](7) NOT NULL,
	[CONT_FECHA] [datetime] NOT NULL,
	[CONT_OBSERVACIONES] [nvarchar](max) NOT NULL,
	[CONT_FECHA2] [datetime] NULL,
	[CONT_OBSERVACIONES2] [nvarchar](max) NULL,
	[CONT_CHECKED] [bit] NOT NULL,
	[CONT_TIPO] [nvarchar](max) NULL,
	[CONT_IDPOST] [int] NULL,
	[CONT_VALOR_CONTRATO] [decimal](18, 2) NOT NULL,
	[CONT_FECHA_ESTIMADA] [datetime] NULL,
	[CONT_CONTRATO] [nvarchar](max) NULL,
	[CONT_STATUS] [bit] NOT NULL,
	[CONT_ARCHIVOS_VARIOS1] [nvarchar](max) NULL,
	[CONT_ARCHIVOS_VARIOS2] [nvarchar](max) NULL,
	[ASE_ID] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
	[TIPSTA_ID] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[ID_PROYECTO] [int] NOT NULL,
	[CONT_FECHA_INICIO_PROYECTO] [datetime] NULL,
	[CONT_FECHA_COORDINACION] [datetime] NULL,
	[CONT_STATUS2] [bit] NOT NULL,
	[CONT_FECHA_INFORME_PRELIMINAR] [datetime] NULL,
	[CONT_FECHA_INFORME_FINAL] [datetime] NULL,
	[CONT_NOM_JEFE_PROYECTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CONTRATOS] PRIMARY KEY CLUSTERED 
(
	[CONT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONTRATOS] ON
SET IDENTITY_INSERT [dbo].[CONTRATOS] OFF
/****** Object:  Table [dbo].[CARGAS_FAMILIARES]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGAS_FAMILIARES](
	[FAM_ID] [int] IDENTITY(1,1) NOT NULL,
	[FAM_NOMBRES_APELLIDOS] [nvarchar](max) NOT NULL,
	[FAM_EDAD] [int] NOT NULL,
	[PAR_ID] [int] NOT NULL,
	[NOMI_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CARGAS_FAMILIARES] PRIMARY KEY CLUSTERED 
(
	[FAM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARGAS_FAMILIARES] ON
INSERT [dbo].[CARGAS_FAMILIARES] ([FAM_ID], [FAM_NOMBRES_APELLIDOS], [FAM_EDAD], [PAR_ID], [NOMI_ID]) VALUES (8, N'LUIS VERA LOPEZ', 76, 1, 11)
INSERT [dbo].[CARGAS_FAMILIARES] ([FAM_ID], [FAM_NOMBRES_APELLIDOS], [FAM_EDAD], [PAR_ID], [NOMI_ID]) VALUES (14, N'WASHINGTON VLADIMIR  SALVARRIETA GUACHAMIN', 12, 2, 11)
INSERT [dbo].[CARGAS_FAMILIARES] ([FAM_ID], [FAM_NOMBRES_APELLIDOS], [FAM_EDAD], [PAR_ID], [NOMI_ID]) VALUES (18, N'EDISON FRANCISCO VERA CASA', 45, 9, 11)
SET IDENTITY_INSERT [dbo].[CARGAS_FAMILIARES] OFF
/****** Object:  Table [dbo].[DETALLE_COBRO]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE_COBRO](
	[DETCOB_ID] [int] NOT NULL,
	[DETCOB_FECHA] [datetime] NULL,
	[DETCOB_OBSERVACIONES] [varchar](255) NULL,
	[FAC_ID] [int] NULL,
	[DETCOB_VALOR] [decimal](18, 2) NOT NULL,
	[TIPPAG_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DETCOB_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRESUPUESTOS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESUPUESTOS](
	[PRE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRE_HORA] [time](7) NOT NULL,
	[PRE_FECHA] [datetime] NOT NULL,
	[PRE_OBSERVACIONES] [nvarchar](max) NOT NULL,
	[PRE_FECHA2] [datetime] NULL,
	[PRE_OBSERVACIONES2] [nvarchar](max) NULL,
	[PRE_CHECKED] [bit] NOT NULL,
	[PRE_TIPO] [nvarchar](max) NULL,
	[PRE_IDPOST] [int] NULL,
	[PRE_VALOR_OFERTA] [decimal](18, 2) NOT NULL,
	[PRE_FECHA_ESTIMADA] [datetime] NULL,
	[PRE_OFERTA_ECONOMICA] [nvarchar](max) NULL,
	[PRE_PLAN_COMERCIAL] [nvarchar](max) NULL,
	[PRE_CRONOGRAMA_ACTIVIDADES] [nvarchar](max) NULL,
	[PRE_ARCHIVOS_VARIOS] [nvarchar](max) NULL,
	[ASE_ID] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
	[TIPSTA_ID] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[PRE_STATUS] [bit] NOT NULL,
	[ID_PROYECTO] [int] NOT NULL,
	[PRE_PORCENTAJE] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PRESUPUESTOS] PRIMARY KEY CLUSTERED 
(
	[PRE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRESUPUESTOS] ON
SET IDENTITY_INSERT [dbo].[PRESUPUESTOS] OFF
/****** Object:  Table [dbo].[LLAMADAS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LLAMADAS](
	[LLA_ID] [int] IDENTITY(1,1) NOT NULL,
	[LLA_HORA] [time](7) NOT NULL,
	[LLA_FECHA] [datetime] NOT NULL,
	[LLA_OBSERVACION1] [nvarchar](max) NOT NULL,
	[LLA_FECHA2] [datetime] NULL,
	[LLA_OBSERVACIONPOST] [nvarchar](max) NULL,
	[LLA_TIPO] [nvarchar](max) NULL,
	[LLA_IDPOST] [int] NULL,
	[LLA_CHECKED] [bit] NOT NULL,
	[ASE_ID] [int] NOT NULL,
	[CON_ID] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[TIPSTA_ID] [int] NULL,
	[LLA_TLFOPCIONAL] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NULL,
	[ID_PROYECTO] [int] NULL,
	[LLA_PORCENTAJE] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LLAMADAS] PRIMARY KEY CLUSTERED 
(
	[LLA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LLAMADAS] ON
INSERT [dbo].[LLAMADAS] ([LLA_ID], [LLA_HORA], [LLA_FECHA], [LLA_OBSERVACION1], [LLA_FECHA2], [LLA_OBSERVACIONPOST], [LLA_TIPO], [LLA_IDPOST], [LLA_CHECKED], [ASE_ID], [CON_ID], [ID_EMPRESA], [TIPSTA_ID], [LLA_TLFOPCIONAL], [UserId], [ID_PROYECTO], [LLA_PORCENTAJE]) VALUES (39, CAST(0x070040230E430000 AS Time), CAST(0x0000A96200000000 AS DateTime), N'PENDIENTE DE LLAMADA 20', CAST(0x0000A96100000000 AS DateTime), N'LLAMADA REALIZADA', NULL, NULL, 1, 3, 7, 12, 1, N'022458987', NULL, 9, 0)
INSERT [dbo].[LLAMADAS] ([LLA_ID], [LLA_HORA], [LLA_FECHA], [LLA_OBSERVACION1], [LLA_FECHA2], [LLA_OBSERVACIONPOST], [LLA_TIPO], [LLA_IDPOST], [LLA_CHECKED], [ASE_ID], [CON_ID], [ID_EMPRESA], [TIPSTA_ID], [LLA_TLFOPCIONAL], [UserId], [ID_PROYECTO], [LLA_PORCENTAJE]) VALUES (40, CAST(0x0700E80A7E8E0000 AS Time), CAST(0x0000A96500000000 AS DateTime), N'NINGUNA', NULL, NULL, NULL, NULL, 0, 3, 7, 12, 4, N'022548795', N'310f40aa-83d8-4213-b03d-0939ba8a5971', 9, 0)
INSERT [dbo].[LLAMADAS] ([LLA_ID], [LLA_HORA], [LLA_FECHA], [LLA_OBSERVACION1], [LLA_FECHA2], [LLA_OBSERVACIONPOST], [LLA_TIPO], [LLA_IDPOST], [LLA_CHECKED], [ASE_ID], [CON_ID], [ID_EMPRESA], [TIPSTA_ID], [LLA_TLFOPCIONAL], [UserId], [ID_PROYECTO], [LLA_PORCENTAJE]) VALUES (41, CAST(0x0700A8E76F4B0000 AS Time), CAST(0x0000A96200000000 AS DateTime), N'llamar  de manera constante a cliente', CAST(0x0000A96100000000 AS DateTime), N'llamada sin novedades', NULL, NULL, 1, 10, 11, 12, 1, N'022545214', N'310f40aa-83d8-4213-b03d-0939ba8a5971', 10, 0)
SET IDENTITY_INSERT [dbo].[LLAMADAS] OFF
/****** Object:  Table [dbo].[FACTURAs]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAs](
	[FACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACT_FECHA_CREACION] [datetime] NOT NULL,
	[FACT_MONTO] [decimal](18, 2) NOT NULL,
	[FACT_DESCRIPCION] [nvarchar](max) NULL,
	[FACT_CHECKED] [bit] NOT NULL,
	[FACT_STATUS] [bit] NOT NULL,
	[FACT_FECHA_FACTURACION] [datetime] NULL,
	[FACT_NUMERO] [nvarchar](max) NULL,
	[FACT_NOMBRE_FACTURAR] [nvarchar](max) NULL,
	[FACT_RUC] [nvarchar](max) NULL,
	[FACT_DIRECCION] [nvarchar](max) NULL,
	[FACT_TELÉFONO] [nvarchar](max) NULL,
	[FACT_CONTACTO_NOMBRE] [nvarchar](max) NULL,
	[FACT_CORREOFACTURAR] [nvarchar](max) NULL,
	[ID_PROYECTO] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FACTURAs] PRIMARY KEY CLUSTERED 
(
	[FACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FACTURAs] ON
INSERT [dbo].[FACTURAs] ([FACT_ID], [FACT_FECHA_CREACION], [FACT_MONTO], [FACT_DESCRIPCION], [FACT_CHECKED], [FACT_STATUS], [FACT_FECHA_FACTURACION], [FACT_NUMERO], [FACT_NOMBRE_FACTURAR], [FACT_RUC], [FACT_DIRECCION], [FACT_TELÉFONO], [FACT_CONTACTO_NOMBRE], [FACT_CORREOFACTURAR], [ID_PROYECTO]) VALUES (26, CAST(0x0000AAA700000000 AS DateTime), CAST(1500.00 AS Decimal(18, 2)), N'zxc', 0, 0, NULL, NULL, N'BANCO PROCREDIT S.A.', N'2451569874', N'ATAHUALPA Y AMAZONAS, ESQUINA. EDIFICIO PROCREDIT, 3ER PISO.', N'600 3820 ', N'MARIA SALGADO', N'salgado36@gmail.com', 9)
INSERT [dbo].[FACTURAs] ([FACT_ID], [FACT_FECHA_CREACION], [FACT_MONTO], [FACT_DESCRIPCION], [FACT_CHECKED], [FACT_STATUS], [FACT_FECHA_FACTURACION], [FACT_NUMERO], [FACT_NOMBRE_FACTURAR], [FACT_RUC], [FACT_DIRECCION], [FACT_TELÉFONO], [FACT_CONTACTO_NOMBRE], [FACT_CORREOFACTURAR], [ID_PROYECTO]) VALUES (27, CAST(0x0000AAA700000000 AS DateTime), CAST(2500.00 AS Decimal(18, 2)), N'prueba de facturacion ', 0, 0, NULL, NULL, N'BANCO PROCREDIT S.A.', N'2451569874', N'ATAHUALPA Y AMAZONAS, ESQUINA. EDIFICIO PROCREDIT, 3ER PISO.', N'600 3820 ', N'MARIA SALGADO', N'salgado36@gmail.com', 9)
SET IDENTITY_INSERT [dbo].[FACTURAs] OFF
/****** Object:  Table [dbo].[NOMINAHIJAs]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOMINAHIJAs](
	[NOMHI_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMI_ID] [int] NOT NULL,
	[REU_ID] [int] NOT NULL,
	[NOM_CHECKED] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.NOMINAHIJAs] PRIMARY KEY CLUSTERED 
(
	[NOMHI_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NOMINAHIJAs] ON
INSERT [dbo].[NOMINAHIJAs] ([NOMHI_ID], [NOMI_ID], [REU_ID], [NOM_CHECKED]) VALUES (160, 11, 37, 1)
INSERT [dbo].[NOMINAHIJAs] ([NOMHI_ID], [NOMI_ID], [REU_ID], [NOM_CHECKED]) VALUES (161, 11, 38, 0)
INSERT [dbo].[NOMINAHIJAs] ([NOMHI_ID], [NOMI_ID], [REU_ID], [NOM_CHECKED]) VALUES (162, 17, 38, 0)
SET IDENTITY_INSERT [dbo].[NOMINAHIJAs] OFF
/****** Object:  Table [dbo].[COBROS]    Script Date: 02/28/2020 04:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBROS](
	[ID_COBRO] [int] IDENTITY(1,1) NOT NULL,
	[COBR_DESCRIPCION] [nvarchar](max) NULL,
	[COBR_FECHA] [datetime] NULL,
	[COBR_MONTO] [decimal](18, 2) NOT NULL,
	[ID_PROYECTO] [int] NOT NULL,
	[COB_ID] [int] NOT NULL,
	[FACT_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.COBROS] PRIMARY KEY CLUSTERED 
(
	[ID_COBRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COBROS] ON
INSERT [dbo].[COBROS] ([ID_COBRO], [COBR_DESCRIPCION], [COBR_FECHA], [COBR_MONTO], [ID_PROYECTO], [COB_ID], [FACT_ID]) VALUES (7, N'cobro  prueba', CAST(0x0000AABE00000000 AS DateTime), CAST(0.00 AS Decimal(18, 2)), 24, 1, 35)
INSERT [dbo].[COBROS] ([ID_COBRO], [COBR_DESCRIPCION], [COBR_FECHA], [COBR_MONTO], [ID_PROYECTO], [COB_ID], [FACT_ID]) VALUES (8, N'los p', CAST(0x0000AAC300000000 AS DateTime), CAST(120.00 AS Decimal(18, 2)), 24, 1, 35)
INSERT [dbo].[COBROS] ([ID_COBRO], [COBR_DESCRIPCION], [COBR_FECHA], [COBR_MONTO], [ID_PROYECTO], [COB_ID], [FACT_ID]) VALUES (9, N'anticipo cobrado de prueba', CAST(0x0000AB5000000000 AS DateTime), CAST(259.00 AS Decimal(18, 2)), 11, 1, 31)
SET IDENTITY_INSERT [dbo].[COBROS] OFF
/****** Object:  Default [DF__ASESORES__AREA_I__2645B050]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[ASESORES] ADD  DEFAULT ((0)) FOR [AREA_ID]
GO
/****** Object:  Default [DF__CORREOS__ID_PROY__2739D489]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS] ADD  DEFAULT ((0)) FOR [ID_PROYECTO]
GO
/****** Object:  Default [DF__DETALLE_C__DETCO__282DF8C2]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[DETALLE_COBRO] ADD  DEFAULT ((0)) FOR [DETCOB_VALOR]
GO
/****** Object:  Default [DF__DETALLE_C__TIPPA__29221CFB]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[DETALLE_COBRO] ADD  DEFAULT ((0)) FOR [TIPPAG_ID]
GO
/****** Object:  Default [DF__LLAMADAS__LLA_CH__2DE6D218]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS] ADD  DEFAULT ((0)) FOR [LLA_CHECKED]
GO
/****** Object:  Default [DF__LLAMADAS__ASE_ID__2EDAF651]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS] ADD  DEFAULT ((0)) FOR [ASE_ID]
GO
/****** Object:  Default [DF__LLAMADAS__CON_ID__2FCF1A8A]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS] ADD  DEFAULT ((0)) FOR [CON_ID]
GO
/****** Object:  Default [DF__LLAMADAS__ID_EMP__30C33EC3]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS] ADD  DEFAULT ((0)) FOR [ID_EMPRESA]
GO
/****** Object:  Default [DF__LLAMADAS__ID_PRO__31B762FC]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS] ADD  DEFAULT ((0)) FOR [ID_PROYECTO]
GO
/****** Object:  Default [DF__NOMINAHIJ__NOM_C__32AB8735]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAHIJAs] ADD  DEFAULT ((0)) FOR [NOM_CHECKED]
GO
/****** Object:  Default [DF__NOMINAs__SUC_ID__339FAB6E]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [SUC_ID]
GO
/****** Object:  Default [DF__NOMINAs__NOM_CHE__3493CFA7]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [NOM_CHECKED]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_AP__3587F3E0]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('') FOR [NOMI_APELLIDO]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_CE__367C1819]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [NOMI_CEDULA]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_FE__37703C52]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [NOMI_FECHANACIMIENTO]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_NO__3864608B]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('') FOR [NOMI_NOM_CONYUGE]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_AP__395884C4]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('') FOR [NOMI_APE_CONYUGE]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_DI__3A4CA8FD]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('') FOR [NOMI_DIR_CONYUGE]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_CE__3B40CD36]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [NOMI_CED_CONYUGE]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_TL__3C34F16F]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('') FOR [NOMI_TLF_CONYUGE]
GO
/****** Object:  Default [DF__NOMINAs__NOMI_CE__3D2915A8]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ('') FOR [NOMI_CEL_CONYUGE]
GO
/****** Object:  Default [DF__NOMINAs__LIC_ID__3E1D39E1]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [LIC_ID]
GO
/****** Object:  Default [DF__NOMINAs__CIV_ID__3F115E1A]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [CIV_ID]
GO
/****** Object:  Default [DF__NOMINAs__SAN_ID__40058253]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs] ADD  DEFAULT ((0)) FOR [SAN_ID]
GO
/****** Object:  Default [DF__PRESUPUES__PRE_S__41EDCAC5]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS] ADD  DEFAULT ((0)) FOR [PRE_STATUS]
GO
/****** Object:  Default [DF__PRESUPUES__ID_PR__42E1EEFE]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS] ADD  DEFAULT ((0)) FOR [ID_PROYECTO]
GO
/****** Object:  Default [DF__PROYECTO__PROY_N__489AC854]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ('') FOR [PROY_NOMBRE]
GO
/****** Object:  Default [DF__PROYECTO__PROY_D__498EEC8D]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ('') FOR [PROY_DETALLE]
GO
/****** Object:  Default [DF__PROYECTO__PROY_F__4A8310C6]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [PROY_FECHACREACION]
GO
/****** Object:  Default [DF__PROYECTO__ID_EMP__4B7734FF]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ((0)) FOR [ID_EMPRESA]
GO
/****** Object:  Default [DF__PROYECTO__SUC_ID__4C6B5938]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ((0)) FOR [SUC_ID]
GO
/****** Object:  Default [DF__PROYECTO__ID_TIP__4D5F7D71]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ((0)) FOR [ID_TIPOPROYECTO]
GO
/****** Object:  Default [DF__PROYECTO__ID_TIP__4E53A1AA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ((0)) FOR [ID_TIPOSERVICIO]
GO
/****** Object:  Default [DF__PROYECTO__PROY_M__4F47C5E3]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ((0)) FOR [PROY_MONTO]
GO
/****** Object:  Default [DF__PROYECTO__PROY_F__503BEA1C]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [PROY_FECHAGREGACION]
GO
/****** Object:  Default [DF__REUNIONES__ID_PR__51300E55]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES] ADD  DEFAULT ((0)) FOR [ID_PROYECTO]
GO
/****** Object:  Default [DF__VISITAS__VIS_FEC__5224328E]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [VIS_FECHA2]
GO
/****** Object:  Default [DF__VISITAS__VIS_CHE__531856C7]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS] ADD  DEFAULT ((0)) FOR [VIS_CHECKED]
GO
/****** Object:  Default [DF__VISITAS__ASE_ID__540C7B00]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS] ADD  DEFAULT ((0)) FOR [ASE_ID]
GO
/****** Object:  Default [DF__VISITAS__CON_ID__55009F39]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS] ADD  DEFAULT ((0)) FOR [CON_ID]
GO
/****** Object:  Default [DF__VISITAS__ID_EMPR__55F4C372]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS] ADD  DEFAULT ((0)) FOR [ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.AREAS_dbo.SUCURSALs_SUC_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[AREAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AREAS_dbo.SUCURSALs_SUC_ID] FOREIGN KEY([SUC_ID])
REFERENCES [dbo].[SUCURSALs] ([SUC_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AREAS] CHECK CONSTRAINT [FK_dbo.AREAS_dbo.SUCURSALs_SUC_ID]
GO
/****** Object:  ForeignKey [FK_dbo.ASESORES_dbo.AREAS_AREA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[ASESORES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ASESORES_dbo.AREAS_AREA_ID] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[AREAS] ([AREA_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASESORES] CHECK CONSTRAINT [FK_dbo.ASESORES_dbo.AREAS_AREA_ID]
GO
/****** Object:  ForeignKey [FK_dbo.ASESORES_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[ASESORES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ASESORES_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ASESORES] CHECK CONSTRAINT [FK_dbo.ASESORES_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.CARGAS_FAMILIARES_dbo.NOMINAs_NOMI_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CARGAS_FAMILIARES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CARGAS_FAMILIARES_dbo.NOMINAs_NOMI_ID] FOREIGN KEY([NOMI_ID])
REFERENCES [dbo].[NOMINAs] ([NOMI_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARGAS_FAMILIARES] CHECK CONSTRAINT [FK_dbo.CARGAS_FAMILIARES_dbo.NOMINAs_NOMI_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CARGAS_FAMILIARES_dbo.PARENTESCOes_PAR_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CARGAS_FAMILIARES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CARGAS_FAMILIARES_dbo.PARENTESCOes_PAR_ID] FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PARENTESCOes] ([PAR_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARGAS_FAMILIARES] CHECK CONSTRAINT [FK_dbo.CARGAS_FAMILIARES_dbo.PARENTESCOes_PAR_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CARGOes_dbo.AREAS_AREA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CARGOes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CARGOes_dbo.AREAS_AREA_ID] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[AREAS] ([AREA_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARGOes] CHECK CONSTRAINT [FK_dbo.CARGOes_dbo.AREAS_AREA_ID]
GO
/****** Object:  ForeignKey [FK_dbo.COBROS_dbo.FACTURAs_FACT_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[COBROS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.COBROS_dbo.FACTURAs_FACT_ID] FOREIGN KEY([FACT_ID])
REFERENCES [dbo].[FACTURAs] ([FACT_ID])
GO
ALTER TABLE [dbo].[COBROS] CHECK CONSTRAINT [FK_dbo.COBROS_dbo.FACTURAs_FACT_ID]
GO
/****** Object:  ForeignKey [FK_dbo.COBROS_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[COBROS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.COBROS_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[COBROS] CHECK CONSTRAINT [FK_dbo.COBROS_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.COBROS_dbo.TIPOS_COBROS_COB_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[COBROS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.COBROS_dbo.TIPOS_COBROS_COB_ID] FOREIGN KEY([COB_ID])
REFERENCES [dbo].[TIPOS_COBROS] ([COB_ID])
GO
ALTER TABLE [dbo].[COBROS] CHECK CONSTRAINT [FK_dbo.COBROS_dbo.TIPOS_COBROS_COB_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CONTACTOS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTACTOS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTACTOS] CHECK CONSTRAINT [FK_dbo.CONTACTOS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.CONTRATOS_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTRATOS_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
GO
ALTER TABLE [dbo].[CONTRATOS] CHECK CONSTRAINT [FK_dbo.CONTRATOS_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CONTRATOS_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTRATOS_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CONTRATOS] CHECK CONSTRAINT [FK_dbo.CONTRATOS_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.CONTRATOS_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTRATOS_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
GO
ALTER TABLE [dbo].[CONTRATOS] CHECK CONSTRAINT [FK_dbo.CONTRATOS_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CONTRATOS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTRATOS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[CONTRATOS] CHECK CONSTRAINT [FK_dbo.CONTRATOS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.CONTRATOS_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTRATOS_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[CONTRATOS] CHECK CONSTRAINT [FK_dbo.CONTRATOS_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.CONTRATOS_dbo.TIPO_STATUS_TIPSTA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CONTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CONTRATOS_dbo.TIPO_STATUS_TIPSTA_ID] FOREIGN KEY([TIPSTA_ID])
REFERENCES [dbo].[TIPO_STATUS] ([TIPSTA_ID])
GO
ALTER TABLE [dbo].[CONTRATOS] CHECK CONSTRAINT [FK_dbo.CONTRATOS_dbo.TIPO_STATUS_TIPSTA_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CORREOS_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CORREOS_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
GO
ALTER TABLE [dbo].[CORREOS] CHECK CONSTRAINT [FK_dbo.CORREOS_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CORREOS_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CORREOS_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CORREOS] CHECK CONSTRAINT [FK_dbo.CORREOS_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.CORREOS_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CORREOS_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
GO
ALTER TABLE [dbo].[CORREOS] CHECK CONSTRAINT [FK_dbo.CORREOS_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.CORREOS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CORREOS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[CORREOS] CHECK CONSTRAINT [FK_dbo.CORREOS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.CORREOS_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CORREOS_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[CORREOS] CHECK CONSTRAINT [FK_dbo.CORREOS_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.CORREOS_dbo.TIPO_STATUS_TIPSTA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[CORREOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CORREOS_dbo.TIPO_STATUS_TIPSTA_ID] FOREIGN KEY([TIPSTA_ID])
REFERENCES [dbo].[TIPO_STATUS] ([TIPSTA_ID])
GO
ALTER TABLE [dbo].[CORREOS] CHECK CONSTRAINT [FK_dbo.CORREOS_dbo.TIPO_STATUS_TIPSTA_ID]
GO
/****** Object:  ForeignKey [FAC_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[DETALLE_COBRO]  WITH CHECK ADD  CONSTRAINT [FAC_ID] FOREIGN KEY([FAC_ID])
REFERENCES [dbo].[FACTURACION] ([FAC_ID])
GO
ALTER TABLE [dbo].[DETALLE_COBRO] CHECK CONSTRAINT [FAC_ID]
GO
/****** Object:  ForeignKey [FK_dbo.DETALLE_COBRO_dbo.TIPOS_PAGOS_TIPPAG_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[DETALLE_COBRO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DETALLE_COBRO_dbo.TIPOS_PAGOS_TIPPAG_ID] FOREIGN KEY([TIPPAG_ID])
REFERENCES [dbo].[TIPOS_PAGOS] ([TIPPAG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_COBRO] CHECK CONSTRAINT [FK_dbo.DETALLE_COBRO_dbo.TIPOS_PAGOS_TIPPAG_ID]
GO
/****** Object:  ForeignKey [FK_dbo.EMAIL_NOTIFICACIONES_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[EMAIL_NOTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EMAIL_NOTIFICACIONES_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EMAIL_NOTIFICACIONES] CHECK CONSTRAINT [FK_dbo.EMAIL_NOTIFICACIONES_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_EMPRESA_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_EMPRESA]
GO
/****** Object:  ForeignKey [FK_EMPRESA_TIPO_CLIENTE]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_TIPO_CLIENTE] FOREIGN KEY([TIPO_CLIENTE])
REFERENCES [dbo].[TIPO_CLIENTE] ([ID_TIPOCLIENTE])
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_TIPO_CLIENTE]
GO
/****** Object:  ForeignKey [FK_EMPRESA_TIPO_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_TIPO_EMPRESA] FOREIGN KEY([TIPO_EMPRESA])
REFERENCES [dbo].[TIPO_EMPRESA] ([ID_TIPOEMPRESA])
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_TIPO_EMPRESA]
GO
/****** Object:  ForeignKey [FK_EMPRESA_TIPO_PERSONA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_TIPO_PERSONA] FOREIGN KEY([TIPO_PERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID_TIPOPERSONA])
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_TIPO_PERSONA]
GO
/****** Object:  ForeignKey [FK_dbo.ESTUDIOS_REALIZADOS_EMPLEADO_dbo.NOMINAs_NOMI_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ESTUDIOS_REALIZADOS_EMPLEADO_dbo.NOMINAs_NOMI_ID] FOREIGN KEY([NOMI_ID])
REFERENCES [dbo].[NOMINAs] ([NOMI_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESTUDIOS_REALIZADOS_EMPLEADO] CHECK CONSTRAINT [FK_dbo.ESTUDIOS_REALIZADOS_EMPLEADO_dbo.NOMINAs_NOMI_ID]
GO
/****** Object:  ForeignKey [FK_dbo.FACTURAs_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[FACTURAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FACTURAs_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FACTURAs] CHECK CONSTRAINT [FK_dbo.FACTURAs_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.LLAMADAS_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LLAMADAS_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LLAMADAS] CHECK CONSTRAINT [FK_dbo.LLAMADAS_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.LLAMADAS_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LLAMADAS_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LLAMADAS] CHECK CONSTRAINT [FK_dbo.LLAMADAS_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.LLAMADAS_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LLAMADAS_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LLAMADAS] CHECK CONSTRAINT [FK_dbo.LLAMADAS_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.LLAMADAS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LLAMADAS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[LLAMADAS] CHECK CONSTRAINT [FK_dbo.LLAMADAS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.LLAMADAS_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LLAMADAS_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[LLAMADAS] CHECK CONSTRAINT [FK_dbo.LLAMADAS_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.LLAMADAS_dbo.TIPO_STATUS_TIPSTA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[LLAMADAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LLAMADAS_dbo.TIPO_STATUS_TIPSTA_ID] FOREIGN KEY([TIPSTA_ID])
REFERENCES [dbo].[TIPO_STATUS] ([TIPSTA_ID])
GO
ALTER TABLE [dbo].[LLAMADAS] CHECK CONSTRAINT [FK_dbo.LLAMADAS_dbo.TIPO_STATUS_TIPSTA_ID]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAHIJAs_dbo.NOMINAs_NOMI_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAHIJAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAHIJAs_dbo.NOMINAs_NOMI_ID] FOREIGN KEY([NOMI_ID])
REFERENCES [dbo].[NOMINAs] ([NOMI_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOMINAHIJAs] CHECK CONSTRAINT [FK_dbo.NOMINAHIJAs_dbo.NOMINAs_NOMI_ID]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAHIJAs_dbo.REUNIONES_REU_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAHIJAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAHIJAs_dbo.REUNIONES_REU_ID] FOREIGN KEY([REU_ID])
REFERENCES [dbo].[REUNIONES] ([REU_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOMINAHIJAs] CHECK CONSTRAINT [FK_dbo.NOMINAHIJAs_dbo.REUNIONES_REU_ID]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAs_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAs_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[NOMINAs] CHECK CONSTRAINT [FK_dbo.NOMINAs_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAs_dbo.CARGOes_ID_CARGO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAs_dbo.CARGOes_ID_CARGO] FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[CARGOes] ([ID_CARGO])
GO
ALTER TABLE [dbo].[NOMINAs] CHECK CONSTRAINT [FK_dbo.NOMINAs_dbo.CARGOes_ID_CARGO]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAs_dbo.ESTADO_CIVIL_CIV_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAs_dbo.ESTADO_CIVIL_CIV_ID] FOREIGN KEY([CIV_ID])
REFERENCES [dbo].[ESTADO_CIVIL] ([CIV_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOMINAs] CHECK CONSTRAINT [FK_dbo.NOMINAs_dbo.ESTADO_CIVIL_CIV_ID]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAs_dbo.SUCURSALs_SUC_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAs_dbo.SUCURSALs_SUC_ID] FOREIGN KEY([SUC_ID])
REFERENCES [dbo].[SUCURSALs] ([SUC_ID])
GO
ALTER TABLE [dbo].[NOMINAs] CHECK CONSTRAINT [FK_dbo.NOMINAs_dbo.SUCURSALs_SUC_ID]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAs_dbo.TIPO_LICENCIA_CONDUCIR_LIC_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAs_dbo.TIPO_LICENCIA_CONDUCIR_LIC_ID] FOREIGN KEY([LIC_ID])
REFERENCES [dbo].[TIPO_LICENCIA_CONDUCIR] ([LIC_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOMINAs] CHECK CONSTRAINT [FK_dbo.NOMINAs_dbo.TIPO_LICENCIA_CONDUCIR_LIC_ID]
GO
/****** Object:  ForeignKey [FK_dbo.NOMINAs_dbo.TIPO_SANGRE_SAN_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[NOMINAs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NOMINAs_dbo.TIPO_SANGRE_SAN_ID] FOREIGN KEY([SAN_ID])
REFERENCES [dbo].[TIPO_SANGRE] ([SAN_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOMINAs] CHECK CONSTRAINT [FK_dbo.NOMINAs_dbo.TIPO_SANGRE_SAN_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PRESUPUESTOS_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
GO
ALTER TABLE [dbo].[PRESUPUESTOS] CHECK CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PRESUPUESTOS_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PRESUPUESTOS] CHECK CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.PRESUPUESTOS_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
GO
ALTER TABLE [dbo].[PRESUPUESTOS] CHECK CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PRESUPUESTOS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[PRESUPUESTOS] CHECK CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.PRESUPUESTOS_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[PRESUPUESTOS] CHECK CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.PRESUPUESTOS_dbo.TIPO_STATUS_TIPSTA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PRESUPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.TIPO_STATUS_TIPSTA_ID] FOREIGN KEY([TIPSTA_ID])
REFERENCES [dbo].[TIPO_STATUS] ([TIPSTA_ID])
GO
ALTER TABLE [dbo].[PRESUPUESTOS] CHECK CONSTRAINT [FK_dbo.PRESUPUESTOS_dbo.TIPO_STATUS_TIPSTA_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PROYECTO_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROYECTO_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_dbo.PROYECTO_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PROYECTO_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROYECTO_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_dbo.PROYECTO_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PROYECTO_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROYECTO_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_dbo.PROYECTO_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.PROYECTO_dbo.SUCURSALs_SUC_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROYECTO_dbo.SUCURSALs_SUC_ID] FOREIGN KEY([SUC_ID])
REFERENCES [dbo].[SUCURSALs] ([SUC_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_dbo.PROYECTO_dbo.SUCURSALs_SUC_ID]
GO
/****** Object:  ForeignKey [FK_dbo.PROYECTO_dbo.TIPO_PROYECTO_ID_TIPOPROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROYECTO_dbo.TIPO_PROYECTO_ID_TIPOPROYECTO] FOREIGN KEY([ID_TIPOPROYECTO])
REFERENCES [dbo].[TIPO_PROYECTO] ([ID_TIPOPROYECTO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_dbo.PROYECTO_dbo.TIPO_PROYECTO_ID_TIPOPROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.PROYECTO_dbo.TIPO_SERVICIO_ID_TIPOSERVICIO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROYECTO_dbo.TIPO_SERVICIO_ID_TIPOSERVICIO] FOREIGN KEY([ID_TIPOSERVICIO])
REFERENCES [dbo].[TIPO_SERVICIO] ([ID_TIPOSERVICIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_dbo.PROYECTO_dbo.TIPO_SERVICIO_ID_TIPOSERVICIO]
GO
/****** Object:  ForeignKey [FK_dbo.REFERENCIA_FAMILIAR_dbo.NOMINAs_NOMI_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REFERENCIA_FAMILIAR]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REFERENCIA_FAMILIAR_dbo.NOMINAs_NOMI_ID] FOREIGN KEY([NOMI_ID])
REFERENCES [dbo].[NOMINAs] ([NOMI_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REFERENCIA_FAMILIAR] CHECK CONSTRAINT [FK_dbo.REFERENCIA_FAMILIAR_dbo.NOMINAs_NOMI_ID]
GO
/****** Object:  ForeignKey [FK_dbo.REFERENCIA_FAMILIAR_dbo.PARENTESCOes_PAR_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REFERENCIA_FAMILIAR]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REFERENCIA_FAMILIAR_dbo.PARENTESCOes_PAR_ID] FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PARENTESCOes] ([PAR_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REFERENCIA_FAMILIAR] CHECK CONSTRAINT [FK_dbo.REFERENCIA_FAMILIAR_dbo.PARENTESCOes_PAR_ID]
GO
/****** Object:  ForeignKey [FK_dbo.REUNIONES_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REUNIONES_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
GO
ALTER TABLE [dbo].[REUNIONES] CHECK CONSTRAINT [FK_dbo.REUNIONES_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.REUNIONES_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REUNIONES_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[REUNIONES] CHECK CONSTRAINT [FK_dbo.REUNIONES_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.REUNIONES_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REUNIONES_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
GO
ALTER TABLE [dbo].[REUNIONES] CHECK CONSTRAINT [FK_dbo.REUNIONES_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.REUNIONES_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REUNIONES_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[REUNIONES] CHECK CONSTRAINT [FK_dbo.REUNIONES_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.REUNIONES_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REUNIONES_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[REUNIONES] CHECK CONSTRAINT [FK_dbo.REUNIONES_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.REUNIONES_dbo.TIPO_STATUS_TIPSTA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[REUNIONES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.REUNIONES_dbo.TIPO_STATUS_TIPSTA_ID] FOREIGN KEY([TIPSTA_ID])
REFERENCES [dbo].[TIPO_STATUS] ([TIPSTA_ID])
GO
ALTER TABLE [dbo].[REUNIONES] CHECK CONSTRAINT [FK_dbo.REUNIONES_dbo.TIPO_STATUS_TIPSTA_ID]
GO
/****** Object:  ForeignKey [FK_dbo.STATUS_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[STATUS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STATUS_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
GO
ALTER TABLE [dbo].[STATUS] CHECK CONSTRAINT [FK_dbo.STATUS_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.STATUS_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[STATUS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STATUS_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
GO
ALTER TABLE [dbo].[STATUS] CHECK CONSTRAINT [FK_dbo.STATUS_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.STATUS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[STATUS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STATUS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[STATUS] CHECK CONSTRAINT [FK_dbo.STATUS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.STATUS_dbo.PROYECTO_ID_PROYECTO]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[STATUS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STATUS_dbo.PROYECTO_ID_PROYECTO] FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[STATUS] CHECK CONSTRAINT [FK_dbo.STATUS_dbo.PROYECTO_ID_PROYECTO]
GO
/****** Object:  ForeignKey [FK_dbo.VISITAS_dbo.ASESORES_ASE_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VISITAS_dbo.ASESORES_ASE_ID] FOREIGN KEY([ASE_ID])
REFERENCES [dbo].[ASESORES] ([ASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VISITAS] CHECK CONSTRAINT [FK_dbo.VISITAS_dbo.ASESORES_ASE_ID]
GO
/****** Object:  ForeignKey [FK_dbo.VISITAS_dbo.AspNetUsers_UserId]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VISITAS_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VISITAS] CHECK CONSTRAINT [FK_dbo.VISITAS_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.VISITAS_dbo.CONTACTOS_CON_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VISITAS_dbo.CONTACTOS_CON_ID] FOREIGN KEY([CON_ID])
REFERENCES [dbo].[CONTACTOS] ([CON_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VISITAS] CHECK CONSTRAINT [FK_dbo.VISITAS_dbo.CONTACTOS_CON_ID]
GO
/****** Object:  ForeignKey [FK_dbo.VISITAS_dbo.EMPRESA_ID_EMPRESA]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VISITAS_dbo.EMPRESA_ID_EMPRESA] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[VISITAS] CHECK CONSTRAINT [FK_dbo.VISITAS_dbo.EMPRESA_ID_EMPRESA]
GO
/****** Object:  ForeignKey [FK_dbo.VISITAS_dbo.TIPO_STATUS_TIPSTA_ID]    Script Date: 02/28/2020 04:00:46 ******/
ALTER TABLE [dbo].[VISITAS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VISITAS_dbo.TIPO_STATUS_TIPSTA_ID] FOREIGN KEY([TIPSTA_ID])
REFERENCES [dbo].[TIPO_STATUS] ([TIPSTA_ID])
GO
ALTER TABLE [dbo].[VISITAS] CHECK CONSTRAINT [FK_dbo.VISITAS_dbo.TIPO_STATUS_TIPSTA_ID]
GO
